.btn.btn-outline-primary.submit-btn {
    font-weight: bold;
    color: white;
    background-color:#007bff;
    font-size: 19px;
    padding : 10px 20px 13px 20px;
    border-radius: 25px ;
}
.btn.btn-outline-primary.submit-btn:hover{
    color: #007bff;
    background-color:white;
}
